<div class="container mx-auto px-4 py-12 flex flex-col md:flex-row items-center justify-between imgcolor">
  <div class="max-w-lg mb-8 md:mb-0">
    <h1 class="text-3xl md:text-4xl font-bold text-gray-700 mb-4">
      Welcome to Recrow Management Solutions – Your Partner in Innovative Management Solutions
    </h1>
    <button class="bg-red-500 text-white font-bold py-2 px-6 rounded-full uppercase" (click)="about()">
      Know More
    </button>
  </div>

  <div class="relative w-full md:w-1/2">
    <!-- Replace the placeholder with the actual image -->
    <img src="https://res.cloudinary.com/dfe82hk93/image/upload/v1723812827/hamb1x4qlr2g1grhyepk.webp" alt="Recruitment Process" class="w-full h-auto object-cover rounded-lg">
    <!-- Description for the image -->
  </div>
</div>

<div class="flex flex-col lg:flex-row items-center p-6">
  <div class="lg:w-1/2 p-4 group overflow-hidden">
    <img src="https://res.cloudinary.com/dfe82hk93/image/upload/v1723800982/vymfdkct8euhlmkahfzr.jpg" alt="Handshake Image" class="w-full md:w-3/4 lg:w-1/2 h-auto object-cover transform group-hover:scale-105 transition-transform duration-500 ease-in-out">
  </div>
  <!-- <div class="lg:w-1/2 p-4 group overflow-hidden">
    <img src="https://res.cloudinary.com/dfe82hk93/image/upload/v1723800982/vymfdkct8euhlmkahfzr.jpg" alt="Handshake Image" class="w-full md:w-full lg:w-3/4 xl:w-full h-64 object-cover transform group-hover:scale-105 transition-transform duration-500 ease-in-out hand">
</div> -->
  <div class="lg:w-1/2 p-4">
      <h1 class="text-3xl lg:text-4xl font-semibold mb-4">Building Dependable Teams Is An Art & We Master It</h1>
      <p class="text-lg lg:text-xl mb-6">
        At Recrow Management Solutions, we believe that effective management is the cornerstone of any successful organization. With our cutting-edge solutions and dedicated team of experts, we empower businesses to streamline operations, boost productivity, and achieve their strategic goals.
      </p>
      <button class="inline-block bg-red-500 text-white text-lg px-6 py-2 rounded-full hover:bg-red-600 transition" (click)="about()">Know More</button>
  </div>
</div>



<!-- <div class="bg-gradient-to-r from-[rgb(16,104,97)] via-[rgb(50,150,100)] to-[rgb(100,200,150)] p-8 text-white">
  <h2 class="text-3xl font-bold mb-8 text-center">The RECROW Advantage</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="flex flex-col items-center text-center">
      <svg class="w-12 h-12 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
      </svg>
      <h3 class="text-xl font-semibold mb-2">Expertise and Experience</h3>
    </div>

    <div class="flex flex-col items-center text-center">
      <svg class="w-12 h-12 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
      </svg>
      <h3 class="text-xl font-semibold mb-2">Objective Perspective</h3>
    </div>

    <div class="flex flex-col items-center text-center">
      <svg class="w-12 h-12 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"></path>
      </svg>
      <h3 class="text-xl font-semibold mb-2">Resource Optimization</h3>
    </div>

    <div class="flex flex-col items-center text-center">
      <svg class="w-12 h-12 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"></path>
      </svg>
      <h3 class="text-xl font-semibold mb-2">Strategic Insights</h3>
    </div>
  </div>
</div> -->


<div class="bg-gradient-to-r from-[rgb(16,104,97)] via-[rgb(50,150,100)] to-[rgb(100,200,150)] p-8 text-white">
  <h2 class="text-3xl font-bold mb-8 text-center">The RECROW Advantage</h2>

  <div class="flex flex-row justify-between gap-4">
    <div class="flex flex-col items-center text-center flex-1">
      <svg class="w-12 h-12 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
      </svg>
      <h3 class="text-xl font-semibold mb-2">Expertise and Experience</h3>
    </div>

    <div class="flex flex-col items-center text-center flex-1">
      <svg class="w-12 h-12 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
      </svg>
      <h3 class="text-xl font-semibold mb-2">Objective Perspective</h3>
    </div>

    <div class="flex flex-col items-center text-center flex-1">
      <svg class="w-12 h-12 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"></path>
      </svg>
      <h3 class="text-xl font-semibold mb-2">Resource Optimization</h3>
    </div>

    <div class="flex flex-col items-center text-center flex-1">
      <svg class="w-12 h-12 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"></path>
      </svg>
      <h3 class="text-xl font-semibold mb-2">Strategic Insights</h3>
    </div>
  </div>
</div>
 <div class="container mx-auto px-4 py-8">
  <!-- Services Section -->
  <h2 class="text-2xl font-bold text-center mb-4">Services</h2>
  <p class="text-center text-gray-600 mb-8">We are Proficient in Top Staffing</p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-16">
    <div class="relative overflow-hidden rounded-lg shadow-md group" (click)="services()">
      <img src="https://res.cloudinary.com/dfe82hk93/image/upload/v1723811354/heanzcrqb5qfwxjcrqhf.png" alt="Executive Search" class="w-full h-64 object-cover transition duration-300 group-hover:scale-110">
      <div class="absolute inset-0 bg-black bg-opacity-50 flex items-end">
        <h3 class="text-white text-xl font-semibold p-4">Tailored Recruitment Solutions</h3>
      </div>
    </div>
    <div class="relative overflow-hidden rounded-lg shadow-md group" (click)="services()">
      <img src="https://res.cloudinary.com/dfe82hk93/image/upload/v1723811424/ztpl1kzrzwljojvtahoy.png" alt="Recruitment" class="w-full h-64 object-cover transition duration-300 group-hover:scale-110">
      <div class="absolute inset-0 bg-black bg-opacity-50 flex items-end">
        <h3 class="text-white text-xl font-semibold p-4">Talent Acquisition and Sourcing</h3>
      </div>
    </div>
    <div class="relative overflow-hidden rounded-lg shadow-md group" (click)="services()">
      <img src="https://res.cloudinary.com/dfe82hk93/image/upload/v1723811473/on0xpvhge0ptdknloboh.png" alt="Screening and Shortlisting" class="w-full h-64 object-cover transition duration-300 group-hover:scale-110">
      <div class="absolute inset-0 bg-black bg-opacity-50 flex items-end">
        <h3 class="text-white text-xl font-semibold p-4">Screening and Shortlisting</h3>
      </div>
    </div>
    <div class="relative overflow-hidden rounded-lg shadow-md group" (click)="services()">
      <img src="https://res.cloudinary.com/dfe82hk93/image/upload/v1723811506/rx49qyia1nwkpmtuknwi.png" alt="Financial Solutions" class="w-full h-64 object-cover transition duration-300 group-hover:scale-110">
      <div class="absolute inset-0 bg-black bg-opacity-50 flex items-end">
        <h3 class="text-white text-xl font-semibold p-4">Payroll Outsourcing</h3>
      </div>
    </div>

  </div>
</div>

<footer class="bg-gray-800 text-white py-6">
  <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-between">
          <div class="w-full md:w-1/4 mb-4 md:mb-0">
              <h4 class="text-lg font-semibold mb-2">Quick Links</h4>
              <ul class="text-sm">
                  <li><a href="" class="hover:underline">Home</a></li>
                  <li><a href="/services" class="hover:underline">Services</a></li>
                  <li><a href="/apply" class="hover:underline">Contact</a></li>
              </ul>
          </div>
          <div class="w-full md:w-1/4 mb-4 md:mb-0">
              <h4 class="text-lg font-semibold mb-2">Contact Us</h4>
              <p class="text-sm">Email: recrowmanagementsolutions&#64;gmail.com</p>
              <p class="text-sm">Phone: +91-7420815827</p>
              <p class="text-sm">Phone: +91-9987034395</p>

          </div>
          <div class="w-full md:w-1/4 mb-4 md:mb-0">
            <h4 class="text-lg font-semibold mb-2">Follow Us</h4>
            <div class="flex">
              <a href="https://www.linkedin.com/in/recrow-management-solutions-aa526b320/" class="w-10 h-10 mr-2" target="_blank">
                <img class="w-full h-full object-contain" src="https://res.cloudinary.com/dfe82hk93/image/upload/v1723813591/cn5mzqetmbikcup4unkk.webp" alt="LinkedIn">
              </a>
              <a href="#" class="w-10 h-10">
                <img class="w-full h-full object-contain" src="https://res.cloudinary.com/dfe82hk93/image/upload/v1723813851/cnstlyv2eqnfaduysqwl.webp" alt="Social Media">
              </a>
            </div>
          </div>
      </div>
      <div class="text-center mt-6 border-t border-gray-700 pt-4">
          <p class="text-sm">&copy; 2024 Your Company. All rights reserved.</p>
      </div>
  </div>
</footer>
